h1 {
    border: 15px black ;
    border-style: double;
    padding-left: 300px;
    background-color: rgb(90, 184, 252);
    color: rgb(22, 122, 228);
}
.foto {
    margin-left: 480px;
    border: black 1px;
    border-radius: 70%;
    object-fit: contain;
}
span, li {
        font-family: "Agbalumo", system-ui;
        font-weight: 400;
        font-style: normal;      
}
.subtitulos {
    border: 2px solid black;
    padding: 10px;
    padding-left: 510px;
    background-color: rgb(90, 184, 252);
    color: rgb(22, 122, 228);
}
body{
    background-image: radial-gradient(white, blue);
}
.titulo3nivel {
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
}