
.foto {
    border: black 1px;
    border-radius: 70%;
    object-fit: contain;
    padding-top: 5px;
}
 p {
        font-family: "Agbalumo", system-ui;
        font-weight: 400;
        font-style: normal;   
        font-size: large;   
}
h3 {
    font-size: xx-large black ;
    text-align: center;
}